*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.collab{
    background-color: #140709 ;
    width: 100%;
    font-family: monospace;
    display: grid;
    place-items: center;
    color: #fff;
}
.heading{
    font-size: 2.5rem;
    margin-top: 1em ;
    margin-bottom: -2em;
}
.text{
    margin: 5em;
    line-height: 50px;
}
span{
    color: rgb(63, 240, 240);
}
h2{
    font-size: 2rem;
    padding: 2em;
}

.pics{
    position: relative;
}
.pics img{
    width: 100%;
    border-radius: 5px;
   
}
.float{
    background-color: #140709 ;
    position: relative;
    
    
}
.paragraph{
    width: 50%;
    height: 100vh;
    padding: 9em;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 30px;
    line-height: 40px;
}

h4{
    font-size: 1.5rem;
    position: relative;
}
a{
    color: #fff;
    text-decoration: none;
}
    

a::after{
   content:"";
   height: 2px;
   width: 0;
   background: #fff;
   display: block;
   transition: .3s ease-in-out;
   
}

a:hover::after{
    content:"";
    height: 2px;
    width: 280px;
    background: #fff;
    display: block;
    
    
 }
.fas{
    color: #fff;
}

.fas::after{
    content:"";
    height: 2px;
    width: 0;
    background: #fff;
    display: block;
    transition: .3s ease-in-out;
    position: absolute;
    left: 283px;
    top: 12px;


    
 }
 
 .fas:hover::after{
     content:"";
     height: 2px;
     width: 20px;
     background: #fff;
     display: block;
 }
.side-pic{
    width: 50%;
    position: absolute;
    right: 0;
    top: -60px;
    
}
